.my_up_title {
  background-color: black;
  color: white;
  padding: 0px;
  margin: 0px;
}
.my_center_text_title {
  text-align: center;
  font-size: 2.5em;
}
.my_main_title {
  color: white;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
  /* margin-top: 75px; */
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0px;
}
.my_bottom_title {
  border: 2px solid black;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.5em;
  border-radius: 10px;
  padding-bottom: 3px;
  background-image: radial-gradient(red, yellow);
}

html, body {
  height: 100%;
  font-family: Candara;
}

body {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+40,000000+40,1b7e00+88 */
  background: rgb(0,0,0);
  background: -moz-linear-gradient(top,  rgb(0,0,0) 40%, rgb(0,0,0) 40%, rgb(27,126,0) 88%) no-repeat;
  background: -webkit-linear-gradient(top,  rgb(0,0,0) 40%,rgb(0,0,0) 40%,rgb(27,126,0) 88%) no-repeat;
  background: linear-gradient(to bottom,  rgb(0,0,0) 40%,rgb(0,0,0) 40%,rgb(27,126,0) 88%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1b7e00',GradientType=0 ) no-repeat;

  background-repeat: repeat-y, repeat-y;
  background-position: left, right;
  background-attachment: fixed, fixed; /* для нормальной прокрутки */
}

img {
  border-style: solid;
}

img[border]{
  color: #38c938;
}
